.container {
  margin-top: 6rem;
  /* padding: 0 150px; */
}

.content {
  background: #070b0d;
  padding: 80px 0;
}
.conts {
  display: flex;
  justify-content: space-around;
  gap:50px;
  margin: 0 auto;
  max-width: 1240px;
}
.right h1{
    font-weight: 800;
font-size: 60px;
line-height: 73px;
color: #FFFFFF;
}
.right p {
  color: rgba(255, 255, 255, 0.6);
  /* text-align:justify; */
  font-size:20px;
}
.but{
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  
}
.view {
  background: transparent;
  color: #f0f1f5;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  outline:none;
  /* border: none; */
  border: 1px solid rgba(250, 252, 254, 0.2)
}

@media screen and (max-width: 768px) {
    .left > img{
        width: 100%;
    }
    .conts{
        flex-direction: column-reverse;
    padding: 0 40px;

    }
}