.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 120px;
  margin: 0 auto;
  max-width: 1240px;
  padding: 100px 0;
}

.box {
  width: 450px;
  height: 500px;
  background: #1D1D1D;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
} 

.container h2 {
  font-family: Recoleta Alt;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  color: #ffffff;
}
.container p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.4);
}
.container span {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 200px;
}
@media screen and (max-width: 900px){
  .container{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 30px;

  }
  .box{
    width: auto;
  }
  .container h2{
    font-size: 24px;
    line-height: 30px;
  }
  .container span{
  font-size: 12px;
    
  }
}
@media screen and (max-width: 500px){
  .container h2{
    font-size: 20px;
  }
}