.main {
  background: #070b0d;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* max-width: 1240px; */
  /* padding: 0 150px; */
}
.projects {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1240px;
  /* padding: 0 150px; */
  margin-top: 150px;
}
.projects h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #444854;
}
.projects p {
  color: #444854;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .projects {
    padding: 0 60px;
    /* margin: auto; */
  }
  .projects h3{
    font-size: 20px;
  }
}
