.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
  
}
.contain {
  display: flex;
  justify-content: space-between;
}
.contain p {
  color: #fff;
}

@media screen and (max-width: 900px){
  /* .header{
    padding: 0 100px;
  } */
}
