.footer {
  background: #0c1012 !important;
  margin: 0 auto;
  padding: 100px 0;
}
h3 {
  text-align: center;
  font-family: Recoleta Alt;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #ffffff;
}
.flex div a {
  background: #0c1012;
  border: 1px solid #444854;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: underline;
  width: 500px;
  height: 132px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #fff;
  overflow: hidden;
}
/* .dir {
  border: 2px solid #12082D;
  background: transparent;
border-radius: 10px;
  height: 70px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  display: inline-flex;
 
  color: #12082d;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
} */
.logoo,
.tet{
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 100%;
}
.flex {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px;
  /* overflow: hidden; */
}
/* .dir{
  flex-basis: 50%;
} */

.social {
  width: 15%;
  margin: auto;
  padding: 50px 0;
}
.social_img {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  h3 {
    font-size: 35px;
    line-height: 42px;
  }
  .btn {
    width: auto;
  }
  .flex div a {
    width: 500px;
    /* height: 100px;
    font-size: 20px; */
  }
  .flex{
    flex-direction: column;
    gap: 20px;
  }
  .social{
    width: 28%;
  }
  
}
@media screen and (max-width:500px){
  
  .flex div a {
    width: 300px;
    font-size: 16px;
  }
  .social{
    width: 50%;
  }
}
