*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  /* overflow-x: hidden; */
}
a{
  text-decoration: none;
}
a:active{
  color: rgba(250, 252, 254, 0.2);
}
.active{
  border-bottom: 7px solid rgba(250, 252, 254, 0.2);
}

:root {
  --gilroy-regular: gilroy-regular;
  --gilroy-medium: gilroy-medium;
  --gilroy-bold: gilroy-bold;
  --gilroy-semibold: gilroy-semibold;
  --recoleta: recoleta-alt;
  /* --gold: #eab221; */
  --black: #12082d;
  --grey: #636366;
}
@font-face {
  font-family: "gilroy-regular";
  src: url("./assets/fonts/gilroy/Gilroy-Regular.otf");
}

@font-face {
  font-family: "gilroy-medium";
  src: url("./assets/fonts/gilroy/Gilroy-Medium.otf");
}

@font-face {
  font-family: "gilroy-bold";
  src: url("./assets/fonts/gilroy/Gilroy-Bold.otf");
}

@font-face {
  font-family: "gilroy-semibold";
  src: url("./assets/fonts/gilroy/Gilroy-Semibold.otf");
}

@font-face {
  font-family: "recoleta-alt";
  src: url("./assets/fonts/recoleta/Recoleta-Bold.ttf");
}
@font-face{
  font-family: "Jellyka-Estryas-Handwriting";
  src: url("./assets/fonts/Jellyka-Estrya's-Handwriting-Font.ttf");
}
@font-face{
  font-family: "Kabut Hitam";
  src: url("./assets/fonts/Kabut Hitam 400.ttf");
}
@font-face{
  font-family: "Axiforma";
  src: url("./assets/fonts/FontsFree-Net-sddd4.ttf");
}