.nav {
  position: relative;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 99; */
  margin: 0 auto;
  max-width: 1240px;
  /* min-height: 10vh; */
}

.logo p {
  color: #fff;
  font-family: Recoleta Alt;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  transition: transform .3s ease-in; 
}
.logo a{
  text-decoration: none;
}
.nav_ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

/* .nav_li {
  margin-right: 3rem;
} */

.nav_a {
  font-family: var(--gilroy-regular);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
}
/* .nav_li a:hover {
  background: red;
  border-radius: 2px;
  color: blue;
  transition: all 0.5s ease-in-out;
} */
.bar {
  display: none;
  cursor: pointer;
}

/* .fa-times {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.fa-bars {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
} */


@media screen and (max-width: 900px) {
  .nav{
    padding:40px 30px 40px ;
  }
   .bar {
    display: block;
    color: #fff;
    font-size: 30px;
  }
  .msg {
    width: 30px;
    display: none;
    margin: auto;
  }
  .nav_ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.589);
    padding: 40px;
    right: 0;
    top: 110px;
    /* display: block; */
    height: 50vh;
    /* transform: translateX(-500px);
    transition: all 0.5s ease-in-out; */

  }
  .nav_li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .nav_li:last-child {
    margin-bottom: 0px;
  }
  .nav_li a {
    width: 20%;
    /* display: block; */
    margin: auto;
    color: #ffffff;
  }
  .close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
 
}
